# Privy — https://dashboard.privy.io
NEXT_PUBLIC_PRIVY_APP_ID=

# Particle Network — https://dashboard.particle.network
NEXT_PUBLIC_PARTICLE_PROJECT_ID=
NEXT_PUBLIC_PARTICLE_CLIENT_KEY=
NEXT_PUBLIC_PARTICLE_APP_ID=
